.text-styles {
    color: #212325;
    font-weight: 400;
}

.layout {
    width: 300px;
    height: auto;
    margin: 2rem auto;
    padding: 32px;
    position: relative;
    composes: text-styles;
}

.typography {
    font-size: 18px;
}

.effect {
    box-shadow: 0 2px 8px rgba(0,0,0,.06);
    text-align: center;
    background: #4fbfdb;
}


.Card {
    composes: layout;
    composes: effect;
    composes: typography;
}

.Card p {
    margin: 0;
    margin-bottom: 16px;
}

.NameInput {
    padding: 8px 8px 8px 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #ccc;

    font-size: 16px;
    color: #1d1f20;
}

.Delete {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: salmon;
    color: #fff;
    top: 0;
    right: 0;
    cursor: pointer;
}

.Delete span {
    position: relative;
    top: -2.75px;
}

.Delete:hover {
    background-color: red;
}

@media (min-width: 745px) {
    .Card {
        background: rgb(199, 167, 24);
        max-width: 70%;
    }
}