.Modal {
    position: fixed;
    z-index: 500;
    background-color: #fff;
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 3px 6px 16px rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 16px;
    left: 10%;
    top: 20%;
    box-sizing: border-box;
    transform: translateY(-100vh);
    opacity: 0;
    transition: all 0.3s ease-out;
}

.Show {
    opacity: 1;
    transform: translateY(0);  
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        top: 30%;
        left: calc(50% - 250px);
        padding: 32px;
        box-shadow: 3px 6px 18px rgba(0,0,0,.2);
    }
}