.Button {
    background-color: transparent;
    border: 1px solid #ccc;
    border: none;
    outline: none;
    color: #fff;
    font: inherit;
    padding: 8px;
    margin: 10px;
    font-weight: bold;
    border-radius: 4px;
}

.Button:first-of-type {
    margin-left: 0;
}

.Success {
    color: #5c9210;
    border: 1px solid currentColor;
}

.Danger {
    color: #944317;
    border: 1px solid currentColor;
}