.Person {
    position: relative;
    /* overflow: hidden; */
    width: 60%;
    max-width: 300px;
    background: #fff;
    padding: 30px 16px;
    margin: 24px auto;
    font-size: 18px;
    box-shadow: 0 2px 16px rgba(0,0,0,.055);
    color: #1d2022;
}

.Person p {
    margin-top: 0;
}

.Person input[type=text] {
    padding: 7px 16px;
    outline: none;
    border: 1px solid #5c5c8f;
    font: inherit;
    color: #555555;
}

.Person .delete {
    position: absolute;
    right: -16px;
    top: -16px;
    text-align: center;
    background: #ff5555;
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s ease;
    transform-origin: 50% 50%;
    backface-visibility: hidden;
}

.Person .delete:hover {
    background: #f80a0a;
}

.Person .delete span {
    position: absolute;
    top: 40%;
    left: 54%;
    transform: translate(-50%, -50%);
}